<h2>Edit compression springs</h2>

<%= simple_form_for [@compression_spring] do |f| %>

  <div class="group">
    <%= f.label :product_name %>
    <%= f.input_field :product_name %>
  </div>

  <div class="group">
    <%= f.label :product_number %>
    <%= f.input_field :product_number %>
  </div>

  <div class="group">
    <%= f.label :min_force %>
    <%= f.input_field :min_force %>
  </div>

  <div class="group">
    <%= f.label :max_force %>
    <%= f.input_field :max_force %>
  </div>

  <div class="group">
    <%= f.label :od_length %>
    <%= f.input_field :od_length %>
  </div>

  <div class="group">
    <%= f.label :cd_length %>
    <%= f.input_field :cd_length %>
  </div>

  <div class="group">
    <%= f.label :inside_diameter %>
    <%= f.select :inside_diameter, [21.55, 18.55, 19.05] %>
    <%#= f.submit "更新", data: { disable_with: "Submiting..." } %>
  </div>

  <div class="group">
    <%= f.label :wire_diameter %>
    <%= f.select :wire_diameter, [3.5, 3.6, 3.7, 3.8, 3.9, 4.0] %>
  </div>

  <div class="group">
    <%= f.label :active_coil_num %>
    <%= f.input_field :active_coil_num %>
  </div>

  <div class="group">
    <%= f.label :free_lengh %>
    <%= f.input_field :free_lengh %>
  </div>

  <%= f.submit "Submit", data: { disable_with: "Submitting..." }, :class => "btn btn-lg btn-primary" %>

<% end %>
