<h2>New compression springs</h2>
<div class="mb15 mt15">


<%= simple_form_for [@compression_spring] do |f| %>
  <div class="form-group col-md-3">
    <%#= f.label :product_name %>
    <%= f.input :product_name, autofocus: true %>
  </div>

  <div class="form-group col-md-3">
    <%#= f.label :product_number %>
    <%= f.input :product_number %>
  </div>

  <div class="form-group col-md-3">
    <%#= f.label :min_force %>
    <%= f.input :min_force%>
  </div>

  <div class="form-group col-md-3">
    <%#= f.label :max_force %>
    <%= f.input :max_force, label: '最大负荷' %>
  </div>

  <div class="form-group col-md-3">
    <%#= f.label :od_length %>
    <%= f.input :od_length, :input_html => { :style => "width:120px" } %>
  </div>

  <div class="form-group col-md-3">
    <%#= f.label :cd_length %>
    <%= f.input :cd_length  %>
  </div>

  <div class="form-group col-md-3">
    <%#= f.label :active_coil_num %>
    <%= f.input :active_coil_num %>
  </div>

  <div class="form-group col-md-3">
    <%#= f.label :free_lengh %>
    <%= f.input :free_lengh %>
  </div>

  <div class="form-group col-md-3">
    <%= f.label :inside_diameter %>
    <%= f.select :inside_diameter, [21.55, 18.55, 19.05]%>
  </div>

  <div class="form-group col-md-3">
    <%= f.label :wire_diameter %>
    <%= f.select :wire_diameter, [3.5, 3.6, 3.7, 3.8, 3.9, 4.0] %>
  </div>

  <div class="form-actions text-center mb15 mt15">
    <%= f.submit "Submit", disable_with: "Submiting...", class: "btn btn-primary"%>
  </div>
<% end %>
</div>
