<div class="text-center mb20">
  <h2><%= @compression_spring.product_number %>-<%= @compression_spring.product_name %> </h2>
</div>

<div class="container col-md-10 col-md-offset-2 mt20">
  <div class="col-md-10 mt20">
    <h4>输入参数</h4>
    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <tr>
          <td align="right">开门弹簧长度：</td>
          <td><%=  @compression_spring.od_length %></td>
          <td>mm</td>
          <td align="right">关门弹簧长度：</td>
          <td><%=  @compression_spring.cd_length %></td>
          <td>mm</td>
        </tr>
        <tr>
          <td align="right">开门最小负荷：</td>
          <td><%=  @compression_spring.min_force %></td>
          <td>N</td>
          <td align="right">关门最大负荷：</td>
          <td><%=  @compression_spring.max_force %></td>
          <td>N</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="col-md-10 mt20">
    <h4>输出参数</h4>
    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <tr>
          <td align="right">开门弹簧长度L1：</td>
          <td><%=  @compression_spring.od_length %></td>
          <td>mm</td>
          <td align="right">关门弹簧长度L2：</td>
          <td><%=  @compression_spring.cd_length %></td>
          <td>mm</td>
        </tr>
        <tr>
          <td align="right">开门弹簧力F1：</td>
          <td><%= @compression_spring.od_force.round(3) %></td>
          <td>N</td>
          <td align="right">关门弹簧力F2：</td>
          <td><%= @compression_spring.cd_force.round(3) %></td>
          <td>N</td>
        </tr>
        <tr>
          <td align="right">弹簧有效圈数：</td>
          <td><%= @compression_spring.active_coil_num %></td>
          <td>圈</td>
          <td align="right">弹簧总圈数：</td>
          <td><%= @compression_spring.total_num %></td>
          <td>圈</td>
        </tr>
        <tr>
          <td align="right">弹簧线径：</td>
          <td><%= @compression_spring.wire_diameter %></td>
          <td>mm</td>
          <td align="right">弹簧内径：</td>
          <td><%= @compression_spring.inside_diameter - 0.05 %></td>
          <td>mm</td>
        </tr>
        <tr>
          <td align="right">弹簧自由长度：</td>
          <td><%= @compression_spring.free_lengh %></td>
          <td>mm</td>
          <td align="right">弹簧螺旋升角：</td>
          <td><%= @compression_spring.spring_helix_angle.round(3) %></td>
          <td>度</td>
        </tr>
      </table>
    </div>
  </div>

</div>
<p class="bc mt10 text-center">
  <%= link_to "导出 CSV", compression_spring_path(:format => :csv), :class => "btn btn-default" %>
  <%= link_to "导出 Excel", compression_spring_path(:format => :xlsx), :class => "btn btn-default" %>
</p>
