<div class="container col-md-10 col-md-offset-1 mt20">
<h2>Edit Manual calculation</h2>

<%= simple_form_for [@manual_calculation] do |f| %>
  <div class="group col-md-12">
    <%= f.label :platform_id, @platforms %><br>
    <%#= f.select :platform_id, @platforms %>
    <%= f.select :platform_id, Platform.all.map{ |p| [p.platform_name, p.id] }, {},  :class => "form-control" %>
  </div>
  <div class="form-group col-md-8">
    <%= f.input :product_name %>
  </div>

  <div class="form-group col-md-4">
    <%= f.input :product_number %>
  </div>

  <p class="mt20"> <h3> 客户输入参数 </h3></p>
  <div class="form-group col-md-4">
    <%= f.input :hinge_x %>
  </div>
  <div class="form-group col-md-4">
    <%= f.input :hinge_y %>
  </div>
  <div class="form-group col-md-4">
    <%= f.input :hinge_z %>
  </div>

  <div class="form-group col-md-4">
    <%= f.input :centre_gravity_x %>
  </div>
  <div class="form-group col-md-4">
    <%= f.input :centre_gravity_y %>
  </div>
  <div class="form-group col-md-4">
    <%= f.input :centre_gravity_z %>
  </div>

  <div class="form-group col-md-4">
    <%= f.input :open_handle_x %>
  </div>
  <div class="form-group col-md-4">
    <%= f.input :open_handle_y %>
  </div>
  <div class="form-group col-md-4">
    <%= f.input :open_handle_z %>
  </div>

  <div class="form-group col-md-4">
    <%= f.input :close_handle_x %>
  </div>
  <div class="form-group col-md-4">
    <%= f.input :close_handle_y %>
  </div>
  <div class="form-group col-md-4">
    <%= f.input :close_handle_z %>
  </div>

  <div class="form-group col-md-3">
    <%= f.input :door_weight %>
  </div>
  <div class="form-group col-md-3">
    <%= f.input :open_angle %>
  </div>
  <div class="form-group col-md-3">
    <%= f.input :open_time %>
  </div>
  <div class="form-group col-md-3">
    <%= f.input :close_time %>
  </div>

  <div class="form-group col-md-3">
    <%= f.input :open_dynamic_friction %>
  </div>
  <div class="form-group col-md-3">
    <%= f.input :close_dynamic_friction %>
  </div>
  <div class="form-group col-md-3">
    <%= f.input :open_static_friction %>
  </div>
  <div class="form-group col-md-3">
    <%= f.input :close_static_friction %>
  </div>

  <p class="mt20"> <h3> AB点代入参数 </h3></p>
  <div class="form-group col-md-4">
    <%= f.input :body_a_x %>
  </div>
  <div class="form-group col-md-4">
    <%= f.input :body_a_y %>
  </div>
  <div class="form-group col-md-4">
    <%= f.input :body_a_z %>
  </div>

  <div class="form-group col-md-4">
    <%= f.input :gate_b_x %>
  </div>
  <div class="form-group col-md-4">
    <%= f.input :gate_b_y %>
  </div>
  <div class="form-group col-md-4">
    <%= f.input :gate_b_z %>
  </div>


  <div class="form-actions text-right mt10">
    <%= f.submit "提 交", disable_with: "Submiting...", class: "btn btn-lg btn-primary"%>
  </div>

<% end %>
</div>
