<div class="container col-md-10 col-md-offset-1 mt20">
  <div class="text-center">
    <h2><%= @manual_calculation.product_name %> - 弹簧计算</h2>
  </div>

<%= simple_form_for [@manual_calculation], :url => update_input_manual_calculation_manual_calculation_path(@manual_calculation) do |f| %>
  <div class="group col-md-8">
    <%= f.label :platform_id, @platforms %><br>
    <%#= f.select :platform_id, @platforms %>
    <%= f.select :platform_id, Platform.all.map{ |p| [p.platform_name, p.id] }, {},  :class => "form-control" %>
  </div>
  <%= render :partial => "input_manual_calculation", :locals => { :f => f } %>
<% end %>
</div>
