<div class="text-center">
  <h2><%= @manual_calculation.product_name %> - 弹簧计算</h2>
</div>

<div class="container col-md-10 col-md-offset-2 mt20">
  <div class="cspring mb15" ></div>
  <%= simple_form_for [@manual_calculation], :url => update_spring_calculation_manual_calculation_path(@manual_calculation) do |f| %>
    <div class="form-group col-md-3">
      <%= f.input :active_coil_num, autofocus: true %>
      <h5>理论有效圈数n： <%= @manual_calculation.theoretical_active_coil_num.round(3)%> </h5>
      <h5>不压并建议有效圈数： <%= @manual_calculation.no_solid_position_active_coil_num.round(3)%> </h5>
    </div>

    <div class="form-group col-md-3">
      <%#= f.label :free_length %>
      <%= f.input :free_length %>
      <h5>理论自由长度Ho： <%= @manual_calculation.theoretical_free_length.round(3)%> </h5>
      <h5>弹簧理论刚度F'： <%= @manual_calculation.spring_theoretical_rate.round(3)%> </h5>
    </div>

    <div class="form-group col-md-3">
      <%= f.input :wire_diameter, collection: [3.5, 3.6, 3.7, 3.8, 3.9, 4.0, 4.1, 4.2] %>
      <h5>理论线径d： <%= @manual_calculation.theoretical_wire_diameter.round(3)%> </h5>
      <h5>弹簧实际刚度： <%= @manual_calculation.spring_rate.round(3)%></h5>
      <%= f.submit "更新", disable_with: "Submiting..." , class: "btn btn-sm btn-info pull-right"  %>
    </div>
    <div class="btn-group mt30" data-toggle="buttons">
      <%= f.collection_radio_buttons :flocking, [[0.4,"植绒"],[0,"不植绒"]], :first, :last,
                  checked: (@manual_calculation.flocking.nil?? 0.4 : @manual_calculation.flocking) %>
    </div>

    <div class="col-md-10 mt20">
      <h4>弹簧校核</h4>
      <div class="table-responsive">
        <table class="table table-striped table-bordered">
          <tr>
            <td align="right">弹簧压并校核：</td>
            <td><%=  @manual_calculation.spring_solid_position_check %></td>
            <td align="right">弹簧安全压并长度：</td>
            <td><%=  @manual_calculation.safe_spring_solid_position.round(3) %></td>
            <td>mm</td>
          </tr>
          <tr>
            <td align="right">弹簧长度校核：</td>
            <td><%= @manual_calculation.spring_length_check %></td>
            <td align="right">弹簧衰减校核：</td>
            <td><%= @manual_calculation.spring_attenuation_check %></td>
            <td><%= @manual_calculation.stress_coefficient.round(2) %></td>
          </tr>
          <tr>
            <td align="right">螺旋升角校核：</td>
            <td><%=  @manual_calculation.spring_helix_angle_check %></td>
            <td align="right">弹簧螺旋升角：</td>
            <td><%=  @manual_calculation.spring_helix_angle.round(3) %></td>
            <td>度</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="col-md-10 mt20">
      <h4>撑杆参数</h4>
      <div class="table-responsive">
        <table class="table table-striped table-bordered">
          <tr>
            <td align="right">撑杆开门长度：</td>
            <td><%=  @manual_calculation.od_length %></td>
            <td>mm</td>
            <td align="right">撑杆关门长度：</td>
            <td><%=  @manual_calculation.cd_length %></td>
            <td>mm</td>
          </tr>
          <tr>
            <td align="right">开门最小负荷：</td>
            <td><%=  @manual_calculation.od_min_force %></td>
            <td>N</td>
            <td align="right">关门最大负荷：</td>
            <td><%=  @manual_calculation.cd_max_force %></td>
            <td>N</td>
          </tr>
          <tr>
            <td align="right">开门撑杆力臂：</td>
            <td><%=  @manual_calculation.od_pole_force_arm %></td>
            <td>mm</td>
            <td align="right">关门撑杆力臂：</td>
            <td><%=  @manual_calculation.cd_pole_force_arm %></td>
            <td>mm</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="col-md-10 mt20">
      <h4>弹簧参数</h4>
      <div class="table-responsive">
        <table class="table table-striped table-bordered">
          <tr>
            <td align="right">开门弹簧长度L1：</td>
            <td><%=  @manual_calculation.spring_od_length %></td>
            <td>mm</td>
            <td align="right">关门弹簧长度L2：</td>
            <td><%=  @manual_calculation.spring_cd_length %></td>
            <td>mm</td>
          </tr>
          <tr>
            <td align="right">开门弹簧力F1：</td>
            <td><%= @manual_calculation.spring_od_force.round(3) %></td>
            <td>N</td>
            <td align="right">关门弹簧力F2：</td>
            <td><%= @manual_calculation.spring_cd_force.round(3) %></td>
            <td>N</td>
          </tr>
          <tr>
            <td align="right">弹簧有效圈数：</td>
            <td><%= @manual_calculation.active_coil_num %></td>
            <td>圈</td>
            <td align="right">弹簧总圈数：</td>
            <td><%= @manual_calculation.total_num %></td>
            <td>圈</td>
          </tr>
          <tr>
            <td align="right">弹簧线径：</td>
            <td><%= @manual_calculation.wire_diameter %></td>
            <td>mm</td>
            <td align="right">弹簧内径：</td>
            <td><%= @manual_calculation.inside_diameter %></td>
            <td>mm</td>
          </tr>
          <tr>
            <td align="right">弹簧自由长度：</td>
            <td><%= @manual_calculation.free_length %></td>
            <td>mm</td>
            <td align="right">弹簧螺旋升角：</td>
            <td><%= @manual_calculation.spring_helix_angle.round(3) %></td>
            <td>度</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="form-actions col-md-10 text-right mb15 mt15 mr100">
      <%= link_to "Previous", input_manual_calculation_manual_calculation_path(@manual_calculation), :class => "btn btn-default pull-middle" %>
      <%= link_to("确认提交", manual_calculations_path, class: "btn btn-danger pull-middle", data: { confirm: "请您先更新再提交,否则不会保存最新数据!" } )%>
    </div>
  <% end %>
</div>
